{% extends 'base.html' %}
{% block title %}Página principal{% endblock %}

{% load static %}
{% block content %}
<style>
  .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 180px); /* Ajusta la altura mínima según el tamaño del footer */
  }

  .image-container {
    max-width: 300px; /* Ajusta el ancho máximo de la imagen */
    width: 100%;
  }

  .responsive-image {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
</style>

<div class="container-home text-center mt-5">
    <h1 class="mb-4">Bienvenido a Horarios Fontan</h1>
  <div class="image-container">
    <img src="{% static 'images/logo.png' %}" alt="Colegio Fontan" class="responsive-image">
  </div>
  <br>
  
</div>
{% endblock %}