{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if query %}
      {% if tutors %}
        {% for tutor in tutors %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">{{ tutor.user.first_name }} {{tutor.user.last_name }}</h5>
          
                {% if tutor.workshops.count > 0 %}
                  {% for workshop in tutor.workshops.all %}
                    <p class="card-text"><strong>{{ workshop.name}}</strong>
                  {% endfor %}
                {% else %}
                  <br>No tiene Talleres asignados.
                {% endif %}
              <br>
              <br>
              <a href="{% url 'tutor_schedule' tutor_id=tutor.tutor_id %}" class="btn btn-primary">Ver Horario</a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="col">
          <h2>No se encontraron resultados para "{{ query }}"</h2>
        </div>
      {% endif %}
    {% else %}
      {% for tutor in tutors %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title">{{ tutor.user.first_name }} {{tutor.user.last_name }}</h5>
        
              {% if tutor.workshops.count > 0 %}
                {% for workshop in tutor.workshops.all %}
                  <p class="card-text"><strong>{{ workshop.name}}</strong>
                {% endfor %}
              {% else %}
                <br>No tiene Talleres asignados.
              {% endif %}
            <br>
            <br>
            <a href="{% url 'tutor_schedule' tutor_id=tutor.tutor_id %}" class="btn btn-primary">Ver Horario</a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
