{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'schedules/styles.css' %}">

<div class="schedule-container">
    <h3 class="schedule-title">Horario de {{ student.name }} {{ student.lastname }}</h3>
    <h4 class="workshop-title">{{ student.workshop }}</h4>
    <h5 class="grade-title">Grado {{ student.grade }}</h5>

    <!-- Tabla de horario -->
    <div class="table-wrapper">
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Bloque/Día</th>
                    {% for day in days_of_week %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in schedule_table %}
                <tr>
                    <!-- El número del bloque -->
                    <td class="schedule-block">Bloque {{ row.0.block_number }}</td>
                    {% for cell in row %}
                    <td class="schedule-cell" data-block-number="{{ cell.block_number }}" data-day="{{ cell.day }}">
                        {% if cell.day == "Friday" and cell.block_number > friday_blocks %}
                            <span class="no-block">-</span>
                        {% else %}
                            {% if cell.workshop %}
                                <span class="workshop-name">{{ cell.workshop }}</span>
                            {% else %}
                                <a href="{% url 'select_workshop' student.student_id cell.day cell.block_number %}" 
                                   class="add-workshop-button btn">
                                    Agregar Taller
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
