{% extends 'base.html' %}

{% block content %}
    <h1>Student Schedule</h1>

    <table>
        <thead>
            <tr>
                <th>Hour</th>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hour in hours %}
                <tr>
                    <td>{{ hour }}</td>
                    {% for day, blocks in days_schedule.items %}
                        <td>
                            {% for block in blocks %}
                                {% if block.start_time == hour %}
                                    <div class="schedule-block">
                                        {{ block.workshop }} ({{ block.start_time }} - {{ block.end_time }})
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
