{% extends 'base.html' %}
{% block title %}{{student.name}} {{ student.student_id }}{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'home.home' %}">Inicio</a>
  <span>/</span>
  <a href="{% url 'students.student_list' %}">Estudiantes</a>
  <span>/</span>
  <a href="{% url 'student_schedule' student.student_id %}">{{ student.name }} #{{ student.student_id }}</a>
{% endblock %}

{% load static %}

{% block content %}
<div class="schedule-container">
    <h3 class="schedule-title">Horario de {{ student.name }} {{ student.lastname }}</h3>
    <H4>Nivel de autonomia: {{student.autonomy_level}}</H4>
    <H4>Grado: {{student.grade}}</H4>

    <div class="table-wrapper">
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Bloque/Día</th>
                    {% for day in days_of_week %}
                        <th>
                            {% if day == "Monday" %} Lunes
                            {% elif day == "Tuesday" %} Martes
                            {% elif day == "Wednesday" %} Miércoles
                            {% elif day == "Thursday" %} Jueves
                            {% elif day == "Friday" %} Viernes
                            {% else %} {{ day }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in schedule_table %}
                <tr>
                    <td class="schedule-block">Bloque {{ row.0.block_number }}</td>
                    {% for cell in row %}
                    <td class="schedule-cell" data-block-number="{{ cell.block_number }}" data-day="{{ cell.day }}">
                        {% if cell.workshop %}
                            <a href="{% url 'select_workshop' student.student_id cell.day cell.block_number %}" 
                               class="btn btn-primary edit-workshop-button">
                                {{ cell.workshop }}
                            </a>
                        {% else %}
                            <a href="{% url 'select_workshop' student.student_id cell.day cell.block_number %}" 
                               class="btn btn-secondary add-workshop-button">
                                Agregar Taller
                            </a>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="dropdown">
        <h4 class="dropdown-toggle" type="button" id="tallerBaseDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Taller base: {{ student.workshop.name }}
        </h4>
        <ul class="dropdown-menu" aria-labelledby="tallerBaseDropdown">
            {% for workshop in workshops %} 
            <li><a class="dropdown-item" href="#">{{ workshop.name }}</a></li> {## Aquí debes ajustar la URL para cambiar el taller base ##}
            {% endfor %}
        </ul>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Guardar</button> {## Aquí debes ajustar la funcionalidad para guardar el cambio ##}
    </div>
</div>
{% endblock %}