<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Schedule for {{ student.name }}</title>
</head>
<body>
    <h1>Update Schedule for {{ student.name }} {{ student.lastname }}</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="day">Select Day</label>
        <select name="day" id="day">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        
        <label for="time">Select Time</label>
        <input type="time" id="time" name="time" required>
        
        <label for="workshop">Select Workshop</label>
        <select name="workshop" id="workshop">
            {% for workshop in workshops %}
                <option value="{{ workshop.id }}">{{ workshop.name }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Save Schedule</button>
    </form>
</body>
</html>
