{% extends 'base.html' %}
{% block breadcrumb %}
  <a href="{% url 'home.index' %}">Inicio</a>
  <span>></span>
  <a href="{% url 'students.main_menu' %}">Estudiantes</a>
  <span>></span>
  <a href="{% url 'student_schedule' student.student_id %}">Horario</a>
  <span>></span>
  <span>Seleccionar Taller</span>
{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Crear Taller</h2>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Crear Taller</button>
  </form>
</div>
{% endblock %}
